* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    max-width: 90vw;
    margin-top: 30px;
    gap: 20px;


    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
            min-height: 50px;

            label {
                font-size: 16px;
                font-weight: 600;
                color: rgb(41, 109, 60);
                white-space: wrap;
            }

            input {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        }
    }


    button {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgb(41, 109, 60);
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: rgb(29, 58, 37);
    }

}

@media (min-width: 720px) {
    .form-grid {
        grid-template-columns: 1fr 1fr !important;
    }
}